<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Triagem Hospitalar - Confirmação</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
</head>

<body>
    <div class="container my-5 text-center">
        <h1 class="mb-4">Triagem Recebida com Sucesso</h1>
        <p>Obrigado por enviar suas informações. Nossa equipe hospitalar analisará sua triagem e entrará em contato se necessário.</p>
        <a href="index.html" class="btn btn-primary mt-3">Voltar ao Formulário</a>
    </div>
</body>

</html>
